::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    background: linear-gradient(95deg, #0094FF 0%, #003E6A 67.29%);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header > div {
    display: flex;
    align-items: center; 
}

header > div > a {
    padding: 0;
}

header > div:first-child > img {
    width: 100%; 
    max-width: 150px; 
}

header > div:nth-child(2) > img {
    width: 30px; 
    height: 30px; 
    margin-right: 12px; 
}

header > div:nth-child(2) > a > img {
    width: 30px;
    height: 30px; 
    padding: 10px;
}

header > div:nth-child(2) > a > img[alt='login'] {
    width: 100px;
    height: auto;
}

header > div > span {
    color: white;
    font-weight: bold;
    font-size: 16px; 
}

.cart {
    width: 30%; 
    max-width: 150px; 
    cursor: pointer;
}

nav {
    display: flex;
    background-color: #003E6A;
    text-align: center;
    padding: 10px 0;
}

nav div {
    flex: 1;
    padding: 10px;
    display: flex;
}

nav a {
    text-decoration: none;
    display: block;
    width:30px;
    flex: 1;
    color: white;
    padding: 10px;
    align-items: center;
}

nav > div > a:nth-child(1) {
    text-align: right;
}

nav > div > a:nth-child(2) {
    text-align: left;
}

nav a:hover div {
    background-color: #0094FF;
    cursor: pointer;
}

nav img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


main {
    padding: 20px;
    text-align: center;
}

main > img {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cooler-container, .cpu-container, .motherboard-container, .ram-container {
    width: 30%; 
    border: 1px solid #ccc; 
    margin: 20px; 
    padding: 10px;
    box-sizing: border-box;
    min-width: 350px;
}

.cooler-container > img, .cpu-container > img, .motherboard-container > img, .ram-container > img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.to-cart {
    width: 30px;
}

.cooler-container span, .cpu-container span, .motherboard-container span, .ram-container span {
    display: block;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    float: left;
    width: 280px;
    padding-top: 20px;
}

.cooler-container img:last-child, .cpu-container img:last-child, .motherboard-container img:last-child, .ram-container img:last-child  {
    float: right;
    width: 50px;
    padding-top: 10px;
}

a{
    cursor: pointer;
}

.message{
    display: block;
}

.hidden {
    transition: opacity 3s ease-in-out;
    opacity: 0;
    overflow: hidden;
}


@media (max-width: 700px) {
    nav {
        display: block;
    }
}
