::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    background: linear-gradient(95deg, #0094FF 0%, #003E6A 67.29%);
    text-align: center;
    padding: 20px 0;
    display: flex; /* Ustawienie nagłówka jako flex container */
    justify-content: space-between; /* Rozmieszczenie elementów w przeciwnych kierunkach */
    align-items: center;
}

header > div {
    display: flex;
    align-items: center; /* Wyśrodkowanie elementów w pionie */
}

header > div > a {
    padding: 0;
}

header > div:first-child > img {
    width: 100%; /* Dostosowane szerokości obrazów */
    max-width: 150px; /* Dodane ograniczenie maksymalnej szerokości */
}

header > div:nth-child(2) > img {
    width: 30px; /* Dostosowana szerokość ikon */
    height: 30px; /* Dostosowana wysokość ikon */
    margin-right: 12px; /* Dodane odstępy między ikoną a tekstem */
}

header > div:nth-child(2) > a > img {
    width: 30px; /* Dostosowana szerokość ikon */
    height: 30px; /* Dostosowana wysokość ikon */
    padding: 10px;
}

header > div:nth-child(2) > a > img[alt='login'] {
    width: 100px;
    height: auto;
}

header > div > span {
    color: white;
    font-weight: bold;
    font-size: 16px; /* Dostosowany rozmiar czcionki */
}

.cart {
    width: 30%; /* Dostosowane szerokości obrazów */
    max-width: 150px; /* Dodane ograniczenie maksymalnej szerokości */
    cursor: pointer;
}

nav {
    display: flex;
    background-color: #003E6A;
    text-align: center;
    padding: 10px 0;
}

nav div {
    flex: 1;
    padding: 10px;
    display: flex;
}

nav a {
    text-decoration: none;
    display: block;
    width:30px;
    flex: 1;
    color: white;
    padding: 10px;
    align-items: center;
}

nav > div > a:nth-child(1) {
    text-align: right;
}

nav > div > a:nth-child(2) {
    text-align: left;
}

nav a:hover div {
    background-color: #0094FF;
    cursor: pointer;
}

nav img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main > div:first-child {
    margin-bottom: 20px;
}

#addButton{
    height: auto;
    width: 70px;
}

#addButton:hover{
    cursor: pointer;
}

main > div:nth-child(2) {
    margin-bottom: 20px;
}

main > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

form {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.container {
    text-align: center;
}

.container h3{
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:nth-child(1){
    background-color: red;
}

button:hover {
    background-color: #45a049;
}

button:nth-child(1):hover {
    background-color:darkred;
}

a img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

@media (max-width: 700px) {
    nav {
        display: block;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main > div:first-child {
    margin-bottom: 20px;
}

main > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

form {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}