main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 0 10px;
    text-align: center;
}

th {
    padding: 10px;
    background-color: #f2f2f2;
}

td:first-child, td:nth-child(2){
    font-weight: bold;
}

td:last-child > a > img{
    max-width: 35px;
}

tr:last-child > td {
    border: none;
 }

tr:last-child > td:nth-child(2) {
    border: 1px solid #ddd;
    padding: 10px
 }

img {
    max-width: 100px;
    height: auto;
}

form {
    margin-top: 20px;
}

main > div{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main > div > form:first-child > button{
    background-color: red;
}

main > div > form:nth-child(2) > button{
    background-color: #003E6A;
}

h5 {
    color: red;
}